<p>measurement-table works!</p>

<table class="table">
  <thead>
    <th>Time</th>
    <th>Pulse</th>
    <th>Pressure</th>
    <th>Action</th>
  </thead>

  <tbody [ngClass]="{disabled: isFormDisabled}">
    <tr>
      <ng-container>
        <td></td>
        <td><input [value]="addedRow.pulse || ''" (input)="onInputAdd('pulse', $event)"></td>
        <td><input [value]="addedRow.pressure || ''" (input)="onInputAdd('pressure', $event)"></td>
        <td><button (click)="onClickAdd()">ADD</button></td>
      </ng-container>
    </tr>
    <ng-container *ngFor="let row of data ; let i=index">
      <tr>
        <ng-container *ngIf="editedRowId===row.time">
          <td>{{editedRow.time}}</td>
          <td><input [value]="editedRow.pulse" (input)="onInput('pulse', $event)"></td>
          <td><input [value]="editedRow.pressure" (input)="onInput('pressure', $event)"></td>
          <td>
            <button (click)="onClickSave(row)">Save</button>
            <button (click)="onClickCancel()">Cancel</button>
          </td>
        </ng-container>

        <ng-container *ngIf="editedRowId!==row.time">
          <td>{{row.time}}</td>
          <td>{{row.pulse}}</td>
          <td>{{row.pressure}}</td>
          <td><button (click)="onClickEdit(row)" [hidden]="editedRowId">Edit</button></td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>

