<tr>
  <ng-container *ngIf="editedRowRef===row" [formGroup]="FormGroup">
    <td *ngFor="let name of fieldNames">
      <input [formControlName]="name" [value]="editedRow[name]" (input)="onInput(name, $event)">
    </td>
    <td>
      <button (click)="onClickSave(row)" [disabled]="fgEdit.invalid">Save</button>
      <button (click)="onClickCancel()">Cancel</button>
    </td>
  </ng-container>

  <ng-container *ngIf="editedRowRef!==row">
    <td *ngFor="let name of fieldNames">{{row[name]}}</td>
    <td><button (click)="onClickEdit(row)" [hidden]="editedRowRef">Edit</button></td>
  </ng-container>
</tr>
