<!--   ADD ROW   -->
<ng-container *ngIf="!data">
  <td app-smart-field *ngFor="let name of fieldNames"
      [formGroup]="fgAdd"
      [config]="fieldConfigs[name]"
      [inputType]="fieldConfigs[name].inputType"
      [fieldMode]="FieldMode.New">
  </td>
  <td>
    <button (click)="onClickAdd()" [disabled]="fgAdd.invalid">Add</button>
  </td>
</ng-container>


<ng-container *ngIf="data">

  <!--   EDIT ROW   -->
  <ng-container *ngIf="editedRowRef===data">
    <td app-smart-field *ngFor="let name of fieldNames"
        [formGroup]="fgEdit"
        [config]="fieldConfigs[name]"
        [inputType]="fieldConfigs[name].inputType"
        [fieldMode]="FieldMode.Edit">
    </td>
    <td>
      <button (click)="onClickSave()" [disabled]="fgEdit.invalid">Save</button>
      <button (click)="onClickCancel()">Cancel</button>
    </td>
  </ng-container>

  <!--   DISPLAY ROW   -->
  <ng-container *ngIf="editedRowRef!==data">
    <td app-smart-field *ngFor="let name of fieldNames"
      [formGroup]="fgEdit"
      [config]="fieldConfigs[name]"
      [data]="data[name]"
      [inputType]="fieldConfigs[name].inputType"
      [fieldMode]="FieldMode.Display">
    </td>
    <td>
      <button (click)="onClickEdit(data)" [hidden]="editedRowRef">Edit</button>
    </td>
  </ng-container>

</ng-container>
